p {
    font-family: 'Roboto', sans-serif; font-weight: 400; color: rgba(99,22,158,1);
}
.inputs {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    width: 200px;
    margin: 1px;
    padding: 5px;
    border: 1px solid #adadad;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: Italic normal normal 20px/normal Arial, Helvetica, sans-serif;
    color: rgba(99,22,158,1);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: nowrap;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.2) inset;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
.myButton {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    float: none;
    z-index: auto;
    width: 115px;
    height: 20px;
    position: static;
    cursor: pointer;
    opacity: 1;
    margin: 1.5px 0px;
    padding: 7px 12px;
    overflow: visible;
    border: 0px solid #018dc4;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: normal 18px/normal Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(167,71,237,1);
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #222222), color-stop(1, #000000));
    background:-moz-linear-gradient(top, #222222 5%, #000000 100%);
    background:-webkit-linear-gradient(top, #222222 5%, #000000 100%);
    background:-o-linear-gradient(top, #222222 5%, #000000 100%);
    background:-ms-linear-gradient(top, #222222 5%, #000000 100%);
    background:linear-gradient(to bottom, #222222 5%, #000000 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#000000',GradientType=0);
    background-color:#222222;
}
.myButton:active {
    position:relative;
    top:3px;
}


.container{
    display: flex;
}
.fixed{
    width: 230px;
}
.flex{
    flex-grow: 1;
}